# ----------------------------------------------------------------------
# 1. macOS (운영체제에서 자동 생성하는 파일)
# ----------------------------------------------------------------------
.DS_Store
.Trashes
._*
.Spotlight-V100
.TemporaryItems
.fseventsd

# ----------------------------------------------------------------------
# 2. IDE/편집기 설정 파일 (로컬 설정)
# ----------------------------------------------------------------------
# Visual Studio Code (VSCode)
.vscode/

# IntelliJ / PyCharm
.idea/

# Vim
*.swp

# ----------------------------------------------------------------------
# 3. Python 및 Lambda 프로젝트 빌드 관련 파일
# ----------------------------------------------------------------------
# Python이 생성하는 컴파일된 파일
__pycache__/
*.pyc                 
*.egg-info/
.mypy_cache/

# 배포 및 빌드 결과물
dist/
build/
deploy.zip
package/

# ----------------------------------------------------------------------
# 4. 민감 정보 및 로그 파일 (제외 필수)
# ----------------------------------------------------------------------
# 환경 변수 및 설정 파일
.env
.aws/
credentials           
config.ini

# 로그 파일
*.log

# ----------------------------------------------------------------------
# 5. .devconatianer 설정 파일 제외
# ----------------------------------------------------------------------
.devcontainer/
